body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 350px;
    overflow-y: auto;
    background-color: #f2f2f2;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.sidebar a {
    display: block;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.sidebar a:hover {
    background-color: #ddd;
}

.main {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

.chart-container {
    margin-bottom: 1px;
    padding-bottom: 1px;
    border-bottom: 5px solid #eee;
}

.n1p3-box {
    font-size: 12px;
    margin-bottom: 0px;
}

.reset-zoom-btn {
    margin-top: 0px;
    font-size: 16px;
    background-color: #eee;
    border: none;
    padding: 0px;
    cursor: pointer;
}

canvas {
    width: 100% !important;
    height: 375px !important;
    max-width: 100%;
}

.sheet-title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 1px;
    color: black;
}
