<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live Excel Dashboard</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
</head>
<body>
    <div class="container">
        <div class="sidebar" id="sidebar"></div>
        <div class="main" id="charts-container"></div>
    </div>
    <script src="/static/js/updateCharts.js"></script>
</body>
</html>
